# .ENV VARS
#
# Usage:
#   cp .env.example .env
#   replace vars with correct values

# Activate docker-aware bootstrapping for connect.php
SALDI_DOCKER=1

# Port mapping (default 8080)
SALDI_PORT=8080

# DBCONNECTION HAVE TO BE SET WHEN USING DOCKER
DB_TYPE=postgresql

DB_HOST=db
DB_NAME=dbname
DB_USER=dbuser
DB_PASSWORD=CHANGE_ME